
<div class="container-fluid">
  <p class="h2">Formulaire Etudiant</p>
  <form #etudiantForm="ngForm" >
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Code</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputPr" placeholder="Password">
      <label for="floatingInputPr">Prenom</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInputNom" placeholder="Password">
      <label for="floatingInputNom">Nom</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingAdresse" placeholder="Password">
      <label for="floatingAdresse">Adresse</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingMail" placeholder="Password">
      <label for="floatingMail">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingTel" placeholder="Password">
      <label for="floatingTel">Telephone</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" id="floatingClasse" aria-label="Floating label select example">
        <option value="ING1">ING1</option>
        <option value="ING2">ING2</option>
        <option value="ING3">ING3</option>
      </select>
      <label for="floatingClasse">Classe</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" id="floatingDept"
              (change)="listeFiliere()"
              aria-label="Floating label select example">
        <option value="" >Choisir un departement</option>
        <option *ngFor="let dept of listeDept" [value]="dept.code">{{dept.nom}}</option>

      </select>
      <label for="floatingDept">Departement</label>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" id="floatingFiliere" aria-label="Floating label select example">
        <option value="" >Choisir une filiere</option>
        <option *ngFor="let fil of listFilieres" [value]="fil.code">{{fil.nom}}</option>

      </select>
      <label for="floatingFiliere">Filiere</label>
    </div>
    <button type="submit" class="btn btn-primary me-2">Ajouter</button>
    <button type="reset" class="btn btn-primary me-2">Annuler</button>
  </form>

</div>
